{{!-- The template below includes the markup for each post --}}

{{#foreach posts}}
  {{#is "post"}}
    <div class="m-recommended-slider__item glide__slide">
  {{/is}}
  <article class="m-article-card {{post_class}}" style="width: calc(20% - 40px) !important; height: 220px;">
    <div class="m-article-card__picture " style="height: calc(50%) !important;">
      <a href="{{url}}" class="m-article-card__picture-link" aria-hidden="true" tabindex="-1"></a>
      {{#if feature_image}}
        <img class="m-article-card__picture-background" src="{{img_url feature_image size="m"}}" loading="lazy" alt="">
      {{/if}}
        {{#if primary_author.profile_image}}
          <div style="background-image: url({{img_url primary_author.profile_image size="xs"}});"></div>
        {{else}}
          <div style="background-image: url({{asset "images/default-avatar-square-small.jpg"}});"></div>
        {{/if}}
      </a>
      {{#if featured}}
        <a href="{{url}}" class="m-article-card__featured js-tooltip" data-tippy-content="{{t "Featured"}}" aria-label="{{t "Featured"}}">
          <span class="icon-star" aria-hidden="true"></span>
        </a>
      {{/if}}
    </div>
      <div class="m-article-card__info no-tag">
      <a href="{{url}}" class="m-article-card__info-link" aria-label="{{title}}" style="justify-content: space-around !important;">
        <div>
          <h2 class="m-article-card__title js-article-card-title {{#unless feature_image}}js-article-card-title-no-image{{/unless}}" title="{{title}}">
            {{title}}
          </h2>
        </div>
        <div>
            {{excerpt}}
        </div>
      </a>
    </div>
  </article>
  {{#is "post"}}
    </div>
  {{/is}}
  {{else}}
    <header class="m-heading no-margin">
      <h3>{{t "No people found"}}</h3>
      <p>
        {{t "Sorry, check again later."}}
      </p>
    </header>
{{/foreach}}
