{{!--
This template is used for the archive page.
It can be used also as the home page or the default page.
--}}

{{!-- This block preloads specific assets for the index page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/home.css"}}" as="style" />
  <link rel="preload" href="{{asset "css/listing.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/home.js"}}" as="script" />
{{/contentFor}}

{{!-- This block loads specific styles for the index page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/home.css"}}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/listing.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{> header background=@site.cover_image}}

<main class="main-wrap">
  {{!-- Inject styles of the hero image to make it responsive --}}
  {{> hero background=@site.cover_image}}
  <div class="m-hero__content" data-aos="fade-down">
    <h1 class="m-common-hero-title bigger">文章&nbsp;Achive</h1>
      <p class="m-common-hero-description bigger">This is the archive page.</p>
  </div>
  </section>

  <div class="l-content">
    <div class="l-wrapper" data-aos="fade-up" data-aos-delay="300">
      <div class="l-grid centered">
        <div class="m-header m-menu js-menu">
            <div class="m-menu__main" data-aos="fade-down">
              <div class="l-grid centered">
                <div class="m-nav">
                  <nav class="m-nav__left" aria-label="{{t "Secondary menu"}}">
                    <ul>
                      <li class="all">
                        <a href="/archive">{{t "全部"}}</a>
                      </li>
                      <li class="music">
                        <a href="/archive/musicgroup">{{t "音乐组"}}</a>
                      </li>
                      <li class="font">
                        <a href="/archive/fontgroup">{{t "字体组"}}</a>
                      </li>
                      <li class="design">
                        <a href="/archive/designgroup">{{t "设计组"}}</a>
                      </li>
                        <li class="english">
                        <a href="/archive/english">{{t "English Posts"}}</a>
                      </li>
                    </ul>
                  </nav>
              </div>
            </div>
          </div>
        </div>
        {{!-- The tag below iterates over all the posts --}}
        {{> "loop-index"}}
      </div>
          {{!-- Links to Previous/Next posts --}}
    </div>
  </div>

</main>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/home.js"}}"></script>
  <script>
    
    
  <script>
{{/contentFor}}
